# Node.js dependencies
node_modules/

# Build output
dist/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE specific files
.vscode/

# Test coverage
coverage/

web-ext-artifacts/

test/data/

extension.zip